# Files to not commit to Github

# ignore the Mac file that stores meta-data about file location in a folder
.DS_Store
# ignore node_modules directory due to the fact they take up a large amount of space
node_modules
# ignore production directory
production
