// for repetitive blocks of code, use mixins to abstract them

@mixin standard-font-style {
  color: magenta;
  font-size: 24px;
  font-family: Tahoma;
}

.reusedFont {
  @include standard-font-style;
}
