.reusedFont {
  color: magenta;
  font-size: 24px;
  font-family: Tahoma; }

body {
  background-color: white; }

.standardParagraph {
  color: black;
  font-size: 40px; }
  @media only screen and (max-device-width: 415px) {
    .standardParagraph {
      color: red;
      font-size: 20px; } }
