// sass for paragraphs

.standardParagraph {

  // for browsers larger than
  @media screen and (min-width: 416px) {
    font-size: 40px;
    color: black;
  }

  // for mobile devices smaller than
  @media only screen and (max-width: 415px) {
    color: red;
    font-size:20px;
  }

}
