
/*
  example class that implements media queries into single class
  follows the single level of abstraction principle -> Google it
*/
.mediaQueryBubbling {

  // css for screens larger than mobile devices
  color: black;
  font-size:40px;


  // for mobile devices smaller than
  @media only screen and (max-device-width: 415px) {
    color: red;
    font-size:20px;
  }

} // end of class mediaQueryBubbling
